langchain
langchain-community
langchain-core
langchain_openai
langchain_anthropic
langchain_chroma
langchain_text_splitters
pypdf
pymupdf
docx2txt
langchain_experimental
python-dotenv
chromadb
numpy
pandas
ipykernel
sentence-transformers
faiss-cpu